:root {
  --first-color: #b8eafd;
  --second-color: #284255;
  --third-color: aliceblue; }

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.2rem;
  --body-font-size: .9rem;
  --small-font-size: .75rem; }
  @media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 2rem;
      --h2-font-size: 1.5rem;
      --body-font-size: 1rem;
      --small-font-size: .8rem; } }

:root {
  --header-height: 3rem; }
  @media screen and (min-width: 768px) {
    :root {
      --header-height: 4rem; } }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", "sans-serif";
  font-size: var(--body-font-size);
  background-color: var(--third-color);
  color: var(--second-color);
  position: relative;
  margin: 0; }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.margin-auto {
  margin-left: auto;
  margin-right: auto; }

:root {
  --columns: 4;
  --column-gap: 6.67%; }
  @media screen and (min-width: 768px) {
    :root {
      --columns: 12;
      --column-gap: 2.27%; } }
  @media screen and (min-width: 768px) {
    :root {
      --columns: 12;
      --column-gap: 2.19%; } }

.layer-container {
  margin: 0 1rem; }
  @media screen and (min-width: 768px) {
    .layer-container {
      margin: 0 2rem; } }
  @media screen and (min-width: 1280px) {
    .layer-container {
      margin: 0 5rem; } }
  @media screen and (min-width: 1440px) {
    .layer-container {
      margin: 0 auto;
      max-width: 1280px; } }

.layer-container, .layer-subcontainer {
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  position: relative; }

.header {
  height: var(--header-height);
  width: 100%;
  border-bottom: 1px solid var(--first-color);
  background-color: var(--third-color);
  position: fixed;
  z-index: var(--z-fixed); }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%; }

.heder-container-logo {
  display: flex;
  align-items: center; }

.logo {
  height: calc(var(--header-height) / 1.8); }

.text-logo {
  padding-left: 0.5rem; }

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 1rem; }
  .menu-link {
    margin-left: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center; }
  .menu-link:hover {
    background-color: var(--first-color); }
  @media screen and (min-width: 768px) {
    .menu {
      padding-top: 0;
      flex-direction: row;
      height: 100%; }
      .menu-link {
        margin-left: 0;
        padding: 0 2rem;
        height: 100%; } }

.navigator {
  right: -80vw;
  position: fixed;
  height: calc(100vh - var(--header-height));
  width: 70vw;
  top: var(--header-height);
  transition: right .5s;
  z-index: var(--z-fixed);
  border-left: 1px solid var(--first-color);
  background-color: var(--third-color); }
  .navigator.show {
    right: 0; }
  @media screen and (min-width: 768px) {
    .navigator {
      position: static;
      height: 90%;
      width: auto;
      border: none; } }

.toggle {
  width: 2.2rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  transition: transform .5s; }
  .toggle::before, .toggle::after {
    content: '';
    display: block; }
  .toggle::before, .toggle::after, .toggle-lines {
    width: 100%;
    height: 20%;
    background-color: var(--second-color);
    position: absolute; }
  .toggle.active {
    transform: rotate(-90deg); }
  .toggle::before {
    top: 0%;
    transition: transform .5s .5s, top .5s .5s; }
  .toggle.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg); }
  .toggle-lines {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    transition: width .5s .5s, left .5s .5s; }
  .toggle.active .toggle-lines {
    transition: width .5s, left .5s;
    width: 20%;
    left: 40%; }
  .toggle::after {
    bottom: 0%;
    transition: transform .5s .5s, bottom .5s .5s; }
  .toggle.active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg); }
  @media screen and (min-width: 768px) {
    .toggle {
      display: none; } }

.banner {
  --banner-padding: 5rem 1rem 3rem;
  --banner-logo-height: 9rem;
  padding: var(--banner-padding);
  position: relative;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 50% 100%, 0 94%, 0 0);
  background-color: var(--first-color); }
  @media screen and (min-width: 768px) {
    .banner {
      --banner-padding: 8rem 1rem 6rem;
      --banner-logo-height: 12.5rem; } }
  .banner-heroimage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center; }
  .banner .banner-content {
    display: flex;
    flex-direction: column; }
    .banner .banner-content > * {
      margin: 0 auto; }
    .banner .banner-content-img {
      max-height: var(--banner-logo-height);
      display: block;
      border: 3px solid var(--second-color);
      border-radius: 50%; }

.card-aboutme > * {
  width: 100%; }

.card-aboutme-content {
  grid-area: 1/1/2/5;
  padding: 1rem;
  text-align: center;
  justify-self: center; }
  @media screen and (min-width: 768px) {
    .card-aboutme-content {
      grid-column: 1/13; } }
