.button{
  color: $button-color;
  display: inline-block;
  border: 1px solid;
  padding: $min-space $normal-space;
  border-radius: calc(#{$min-space} / 2);
  font-weight: bold;
  background-color: $button-alternative;

  &:hover{
    background-color: $button-color;
    color: $background-color;
  }
}

[class*="button-l"]{
  padding: .4rem .6rem;
  font-size: var(--small-font-size);

  @include from(m){
    font-size: var(--body-font-size);
  }

  &:hover{
    color: transparent;
    cursor: pointer;
  }
}