:root {
  --font-size: var(--small-font-size);
  @include from(m){
    --font-size: var(--body-font-size);
  }
}

.button{
  color: $button-color;
  display: inline-block;
  border: 1px solid;
  padding: $min-space $normal-space;
  border-radius: calc(#{$min-space} / 2);
  font-weight: bold;
  background-color: $button-alternative;

  &:hover{
    background-color: $button-color;
    color: $background-color;
  }
}

.button-l{
  padding: .4rem .6rem;
  font-size: var(--font-size);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover{
    color: transparent;
    cursor: pointer;
  }

  &-github {
    background-image: url("../assets/icons/github_button.svg");
  }
  &-web{
    background-image: url('../assets/icons/working_button.svg');
  }
  &-figma{
    background-image: url('../assets/icons/figma_button.svg');
  }
}
