.card{
  // scroll-behavior: smooth;

  &-projects, &-aboutme, &-skills{
    scroll-margin-top: $header-height;
  }

  &-diagonal{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $border-color;
      z-index: var(--z-back);
      transform: skewY(-1.5deg) scaleY(1.025) translateY(1rem);
      @include from(l){
        transform: skewY(-2deg) scaleY(1.1) translateY(1rem);
      }
    }
  }
  &-proj-image{
    display: block;
  }
  &-proj-title{
    font-size: 1rem;
  }
  &-aboutme-content-unique {
    max-width: 800px;
    text-align: center;
  }
  @include from(m) {
    &-aboutme-content-unique p {
      text-align: left;
    }
  }
  &-softskills, &-hardskills {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    list-style-position: inside;
  }
  .hardskills-content__icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    justify-items: center;
    justify-content: center;
    padding: .5rem;
    margin-bottom: 1rem;
    border: 2px solid $border-color;
    border-radius: 1rem;
    font-size: .6rem;
    cursor: pointer;

    @include from(s) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: .5rem;
      padding: .5rem;
      font-size: var(--small-font-size);
    }
    @include from(m) {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: .7rem;
      padding: .7rem;
    }
    @include from(l) {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 1rem;
      padding: 1rem;
    }
  }
  .hardskills-tech__icon {
    position: relative;
    width: calc(#{$max-space} + (#{$min-space} * 2));
    height: calc(#{$max-space} + (#{$min-space} * 2));
    padding: $min-space;
    background-image: radial-gradient(#f0f8ff 30%, #f0f8ffd6 45%, transparent 70%);
  }
  .tech-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: $max-space;
    max-height: $max-space;
  }
  .balloon-description {
    position: absolute;
    bottom: calc(100% - 8px);
    left: 50%;
    padding: 4px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 8px 8px 8px 0px;
    // font-size: var(--small-font-size);
    opacity: 15%;
    transform: scale(0);
    transform-origin: left bottom;
    transition-property: transform, opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.6,.79,.76,1.23);
  }
  .show > .balloon-description {
    transform: scale(1);
    opacity: 85%;
  }


  &-projects-content-multiple{
    padding: $normal-space;
    border: 1px solid $border-color;
    border-radius: $normal-space;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  &-proj-subtitle{
    // margin-top: -.1rem;
    margin-bottom: $min-space;
    opacity: .6;
    font-size: small;
  }
  &-proj-footer{
    border-top: 1px solid $border-color;
    margin-top: $normal-space;
    padding-top: $normal-space;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-decoration1{
    width: 1rem;
    height: 1rem;
    transform: translate3d(-1.3rem, -1.3rem, 0) rotate3d(1, -1, 0, 70deg);
  }
  &-decoration2{
    width: 2rem;
    height: 2rem;
    transform: translate3d(-1.4rem, -1.4rem, 0) rotate3d(1, -1, 0, 70deg);
    backface-visibility: hidden;
  }
}

[class^="card-decoration"]{
  border-color: $button-color transparent transparent $button-color;
  border-radius: 50%;
  border-width: .15rem;
  border-style: solid;
  position: absolute;
}

[class*="#{-content-unique}"]{
  grid-area: 1/1/2/5;
  @include from(m){
    grid-column: 1/13;
  }
}
[class*="#{-content-double}"]{
  grid-column: span 4;
  grid-row: span 1;
  @include from(m){
    grid-column: span 6;
    grid-row: span 1;
  }
}
[class*="#{-content-multiple}"]{
  grid-column: span 4;
  grid-row: span 1;
  background-color: $bg-alternative;
  @include from(m){
    grid-column: span 6;
    grid-row: span 1;
  }
  @include from(l){
    grid-column: span 4;
    grid-row: span 1;
  }
}

