.header{
  height: $header-height;
  width: 100%;
  border-bottom: 1px solid $border-color;
  background-color: $background-color;
  position: fixed;
  z-index: var(--z-fixed);
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: $min-space;
  padding-right: $min-space;
  @include from(m){
    padding-left: $normal-space;
    padding-right: $normal-space;
  }
  
  &__logo{
    display: flex;
    align-items: center;
    // justify-content: center;
    // align-content: center;
    scroll-padding-top: $header-height;
  }
  &__menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include from(s){
      padding: 0 $min-space;
    }
  }
}
.logo{
  height: calc(#{$header-height} / 1.8);
  width: auto;
}
.text-logo{
  padding-left: $min-space;
  align-self: center;
}
