// https://www.w3schools.com/howto/howto_css_switch.asp
[class^="switch"]{
  // position: absolute;
  // display: inline-block;
  position: relative;
  display: block;
}
[class$="input"]{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-idioms {
  // top: calc(var(--header-height) + .5em);
  // right: 1.5em;
  width: 3.8rem;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: $min-space;
  opacity: 90%;
  
  &-content {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: .2rem solid var(--border-color);
    background-color: var(--border-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  &-slider {
    position: absolute;
    left: 0em;
    top: 0em;
    background-color: currentColor;
    height: 100%;
    width: 50%;
    border-radius: 50%;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: .4s;
    transition: .4s;
    pointer-events: none;
  }
  &-slider * {
    display: block;
    width: 100%;
    height: 100%;
  }
  &-slider__eeuu{
    display: none;
  }
  &-input:checked + &-content > &-slider > &-slider__eeuu {
    display: block;
  }
  &-input:checked + &-content > &-slider > &-slider__mex {
    display: none;
  }
  &-input:focus + &-content {
    outline: var(--outline-width) solid currentColor;
  }
  &-input:checked + &-content > &-slider {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  &-content.switch-round {
    border-radius: 2em;
  }
  &-content.switch-round:before {
    border-radius: 50%;
  }
}

.switch-lightdark{
  // top: calc(var(--header-height) + 3.2em);
  // right: 1.5em;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 auto;
  margin-bottom: $min-space;
  cursor: pointer;
  border-radius: 50%;
  background-image:
    radial-gradient(transparent 40%, var(--alert-color) 100%),
    radial-gradient(ellipse at 33% 23%, rgba(255, 255, 255, 0.774) 5%, transparent 10%),
    radial-gradient(ellipse at 25% 30%, rgba(255, 255, 255, 0.774) 5%, transparent 10%),
    radial-gradient(circle at 20% 50%, rgba(255, 255, 255, 0.774) 3%, transparent 8%);

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-moonsun {
    width: 100%;
    height: 100%;
    background-image:
      radial-gradient(circle at 41% 47%, var(--background-color) 20%, transparent 20%),
      radial-gradient(var(--text-color) 35%, transparent 35%);
    -webkit-mask-image: radial-gradient(circle at 41% 47%, transparent 20%, var(--text-color) 20%);
  }
  &-outline {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
  }

  &-input:checked + &-moonsun {
    clip-path: polygon(50% 20%, 55% 35%, 70% 30%, 65% 45%, 80% 50%, 65% 55%, 70% 70%, 55% 65%, 50% 80%, 45% 65%, 30% 70%, 35% 55%, 20% 50%, 35% 45%, 30% 30%, 45% 35%, 50% 20%);
    background-image:
      radial-gradient(var(--text-color) 35%, transparent 35%);
    -webkit-mask-image: radial-gradient(circle at 0% 0%, var(--text-color) 20%, var(--text-color) 20%);
  }

  &-input:focus + &-outline {
    outline: var(--outline-width) solid currentColor;
  }
}

.scaling{
  -webkit-animation-name: scaling;
  animation-name: scaling;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@keyframes scaling {
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    -ms-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}