:root{
  --colorA: rgb(197, 253, 244);
  --colorB: rgb(84, 214, 214);
  --colorC: rgb(50, 112, 148);
  --colorD: yellow;
  --colorD: rgb(255, 201, 83);
  --colorF: aliceblue;
  --colorG: rgba(0, 0, 0, 0.322);
  --colorH: rgb(143, 15, 202);

  --sizeTitle:    1.5em;
  --sizeSubTitle: .5em;
}
.body{
  background-color: var(--colorA);
  /* background-color: var(--colorC);
  color: var(--colorF);
  font-weight: bold; */
}
.header, .main{
  max-width:  500px;
  text-align: center;
  margin:     2em auto;
}
.m-s-div{
  margin-bottom: 2em;
}
.bg-dark{
  background-image: radial-gradient(ellipse at 50% 0%, var(--colorB) 30%, var(--colorC));
  color:            var(--colorF);
}
.m-s-d-f-e-button{
  text-shadow:  2px -1px 2px var(--colorC);
  box-shadow:   .16em .16em 0px 0px var(--colorG);
}
.m-s-d-f-e-button:active{
  margin-top: .16em;
  margin-left: .16em;
  box-shadow: 0px 0px 0px 0px var(--colorG);
}
.size-title{
  font-size: var(--sizeTitle);
}
.m-s-d-title{
  margin-bottom: var(--sizeSubTitle);
}
.m-s-d-audio{
  border:   .1em double var(--colorD);
  padding:  .5em 0em .3em 0em;
  margin:   0px;
}
.m-s-d-article{
  margin-top:       0px;
  border:           .1em double var(--colorD);
  background-color: var(--colorH);
  color:          aliceblue;
  padding:          .2em;
  box-shadow:       -1.5em -1.5em .5em 0em var(--colorG) inset;
}
.m-s-d-iframe{
  min-height: 250px;
  max-width: 560px;
  max-height: 315px;
}