:root{
  --colorA: rgb(254,167,191);
  --colorB: transparent;
  --colorC: rgb(255, 0, 0);
  --colorD: black;
  --colorF: lavenderblush;
  --colorG: rgba(0, 0, 0, 0.322);
  --colorH: rgb(127,80,8);

  --sizeTitle:    4rem;
  --sizeSubTitle: 1.5rem;

  --fontForeignTit: 'Shadows Into Light';
  --fontForeignTxt: 'Comic Neue';
  --fontDefault:    'sans-serif';
}

*, *:before, *:after{box-sizing: border-box;}

.body{
  background-image:
  radial-gradient(circle, var(--colorF) 3%, var(--colorA) 7%);
  background-position: -2em 3em;
  background-size: 15em 11em;
  background-attachment: fixed;
}
.header, .main{
  max-width:  500px;
  text-align: center;
  margin:     1em auto 0em auto;
}
.m-s-div{
  margin-bottom: 2em;
  font-size: var(--sizeSubTitle);
  font-family: var(--fontForeignTxt), var(--fontDefault);
}
.bg-dark{
  background-image: radial-gradient(ellipse at 50% 0%, var(--colorB) 20%, var(--colorC));
  color:            var(--colorF);
}
.m-s-d-f-e-button{
  text-shadow:  2px -1px 2px var(--colorC);
  box-shadow:   .16em .16em 0px 0px var(--colorG);
}
.m-s-d-f-e-button:active{
  margin-top: .16em;
  margin-left: .16em;
  box-shadow: 0px 0px 0px 0px var(--colorG);
}
.size-title{
  font-family: var(--fontForeignTit), var(--fontDefault);
  font-size: var(--sizeTitle);
  margin-top: 2rem;
  margin-bottom: 0;
}
.emoji{
  font-size: 3em;
}
.m-s-d-audio{
  border:   .1em double var(--colorD);
  padding:  1rem 0rem;
  margin:   0px;
}
.noFont{
  font-family: initial;
}
.m-s-d-article{
  margin-top:       0px;
  border:           .1em double var(--colorD);
  background-color: var(--colorH);
  color:          aliceblue;
  padding:          1.5rem;
  box-shadow:       -1.5em -1.5em .5em 0em var(--colorG) inset;
}
.m-s-d-a-description{
  margin: 0;
}
.m-s-d-iframe{
  min-height: 250px;
  max-width: 560px;
  max-height: 315px;
}