:root{
  --colorA: rgb(197, 253, 244);
  --colorB: rgb(84, 214, 214);
  --colorC: rgb(50, 112, 148);
  --colorD: yellow;
  --colorF: aliceblue;
  --colorG: black;
}
.body{
  background-color: var(--colorA);
}
.header, .main{
  max-width: 500px;
  text-align: center;
  margin: 2em auto;
}
.m-s-div{
  margin-bottom: 2em;
}
.m-s-d-titulo{
  margin-bottom: .5em;
}
.m-s-d-audio{
  border: .1em double var(--colorD);
  padding: .5em 0em .3em 0em;
  margin: 0px;
}
.bg-dark{
  background-image: radial-gradient(ellipse at 50% 0%, var(--colorB) 30%, var(--colorC));
  color: var(--colorF);
}
.m-s-d-f-e-button{
  text-shadow: 2px -1px 2px var(--colorC);
  box-shadow: .16em .16em 0px 0px var(--colorG);
}
.m-s-d-instruction, .m-s-d-f-e-button{
  font-size: 1.5em;
}