*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: $font-family-first;
  font-size: var(--body-font-size);
  background-color: $background-color;
  color: $text-color;
  position: relative;
  margin: 0;
}
h1{
  font-size: var(--h1-font-size);
}
h2{
  font-size: var(--h2-font-size);
}
h3{
  font-size: var(--h3-font-size);
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}


.margin-auto{
  margin-left: auto;
  margin-right: auto;
}